---
fields:
  email:
    property_options:
      readonly: true
  password:
    validation:
      confirmation: true
      message: Password doesn't match
  password_confirmation:
    property_options:
      virtual: true
flash_alert: Sorry-PasswordReset
flash_notice: Your password has been updated.
name: modules/dashboard/password_reset
redirect_to: password-reset
resource: User
resource_owner: anyone
---
<div class="password-reset-wrapper">
  <div class="spacer section"></div>
  <div class="grid-x align-center">
    <div class="large-offset-4 large-5 medium-offset-3 medium-8 small-12 cell seedling-form-container">
        <h1 class="heading-1 text-center">Password Reset</h1>
        <div class="spacer xxxx-large"></div>

          {%- form 
            html-id: "password-reset-form"
            html-novalidate: true
            html-enctype="multipart/form-data"
            html-onsubmit:"return LoginScript.methods.validateForm(event)" -%}

            <div class="grid-x grid-padding-x">
              <div class="small-12 cell">

                <input name="token" value="{{ context.params.token }}" type="hidden">
                <input name="email" value="{{ form.email }}" type="hidden">

                <ins-input validate
                  id="password"
                  label="New Password"
                  field="password"
                  name="{{ form.fields.password.name }}" 
                  value="{{ form.fields.password.value }}" 
                  {% if form.errors['password'] %} has-error {% endif %}
                  {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
                  {% if errmatch %}
                  error-message="Password doesn't match" 
                  {% else %}
                  error-message="Invalid password" 
                  {% endif %}
                  placeholder="Enter your new password">
                </ins-input>

                <ins-input validate
                  id="password_confirmation"
                  label="Confirm New Password"
                  field="password"
                  name="{{ form.fields.password_confirmation.name }}" 
                  value="{{ form.fields.password_confirmation.value }}" 
                  {% if form.errors['password'] %} has-error {% endif %}
                  {% assign errmatch = form.fields.password.validation.errors | any: "doesn't match Password" %}
                  {% if errmatch %}
                  error-message="Password doesn't match" 
                  {% else %}
                  error-message="Invalid password" 
                  {% endif %}
                  
                  placeholder="Re-enter your new password">
                </ins-input>      
              </div>
              <div class="small-12 cell spacer small"></div>
              <div class="small-12 cell text-center">
                <ins-button id="submit-btn" class="full" label="RESET PASSWORD" solid color="blue" type="submit" size="normal"></ins-button>
              </div>

            </div>

          {%- endform -%}
      </div>
    </div>
  </div>
  <div class="spacer section"></div>
</div>  


{%- if context.flash and context.flash.alert == "Sorry-PasswordReset" -%}
<script>
setTimeout(() => {
    App.events.notyf('error', "Error in reseting password");
}, 200);
</script>
{% endif -%}
