---
fields:
  email:
    validation:
      presence:
        message: Please use a valid email address
      email:
        message: Please use a valid email address
  password:
    validation:
      presence:
        message: Password is required
  redirect:
    property_options:
      virtual: true
flash_alert: Sorry-SignIn
flash_notice: Successful
name: modules/dashboard/sign_in
redirect_to: |
  {% graphql check_2fa_setup = 'modules/dashboard/account/check_2fa_setup'%} {% assign otp_configured = check_2fa_setup.current_user.client[0].otp_configured %} {%- if otp_configured == true -%}
    {%- assign go_to = '/verify-2fa' -%}
  {%- else -%}
    {%- assign go_to = '/dashboard' -%}
  {%- endif -%} {{ go_to }}
resource: Session
resource_owner: anyone
---
{%- form 
	html-id: "sign-in-form"
	html-novalidate: true
  html-enctype="multipart/form-data"
  html-onsubmit:"return LoginScript.methods.validateForm(event);" -%}
	
	<div class="grid-x grid-padding-x">
		<div class="small-12 cell">
			<ins-input validate
				id="email"
        label="Email"
        field="email"
        name="{{ form.fields.email.name }}" 
        value="{{ form.fields.email.value }}" 
        {% if form.errors['email'] %} has-error {% endif %}
        error-message="{{ form.fields.email.validation.rules.presence.message }}"
        placeholder="Email">
			</ins-input>

      <ins-input validate
          id="password"
          label="Password"
          field="password"
          name="{{ form.fields.password.name }}" 
          value="{{ form.fields.password.value }}" 
          {% if form.errors['password'] %} has-error {% endif %}
          error-message="{{ form.fields.password.validation.rules.presence.message }}"
          placeholder="Password">
      </ins-input>
    </div>

  
		<div class="cell grid-x">
			<div class="cell text-right">
				<a class="font-color-body" href="/forgot-password">Forgot your password?</a>
			</div>
		</div>
		<div class="small-12 cell spacer x-large">
      <div class="spacer medium"></div>
    {%- if context.flash.alert == 'Sorry-SignIn' -%}
      <p class="error-message">Oops! That email / password combination is not valid.</p>
    {%- endif -%}
    </div>

    <input type="hidden" 
        name="{{ form.fields.redirect.name }}" 
        value="{{ context.page.slug }}" >

    <div class="small-12 cell text-center">
			<ins-button id="submit-btn" label="SIGN IN" class="full" solid color="blue" type="submit" ></ins-button>
      <div class="spacer small"></div>
      <a href="/register"><ins-button id="register-btn" type="button" label="REGISTER" class="full"  color="white" ></ins-button></a>
		</div>

	</div>

{%- endform -%}