---
metadata:
  partial_name: Registration | Personal details
---
{%- assign props = form.fields.properties -%}
{% assign contact = data.contact | first %}

<div id="personal-details-container" class="form-group fadeIn" active>      
      <div class="column-1">
        <ins-input validate
            id="first-name"
            label="First Name"
            name="{{ form.fields.first_name.name }}" 
            value="{{ form.fields.first_name.value }}" 
            {% if form.errors['first_name'] %} has-error {% endif %}
            error-message="{{ form.fields.first_name.validation.rules.presence.message }}"
            placeholder="First Name">
        </ins-input>
      </div>

      <div class="column-1">
        <ins-input validate
            id="last-name"
            label="Last Name"
            name="{{ form.fields.last_name.name }}" 
            value="{{ form.fields.last_name.value }}" 
            {% if form.errors['last_name'] %} has-error {% endif %}
            error-message="{{ form.fields.last_name.validation.rules.presence.message }}"
            placeholder="Last Name">
        </ins-input>
      </div>
      
      <div class="column-1">
        <ins-input validate
            id="email"
            label="Email"
            field="email"
            name="{{ form.fields.email.name }}" 
            value="{{ form.fields.email.value }}" 
            {% if form.errors['email'] %} has-error {% endif %}
            error-message="{{ form.fields.email.validation.rules.presence.message }}"
            placeholder="Email">
        </ins-input>
      </div>

      {% if context.params.slug == 'profile' %}
        <div class="column-1 profile-buttons">      
          <ins-button type="submit" id="submit-personal-details" label="SAVE" icon="icon-check-2" solid ></ins-button>
        </div>
      {% else %}

        <div class="column-1">
          <ins-input validate
            id="password"
            label="Password"
            field="password"
            name="{{ form.fields.password.name }}" 
            value="{{ form.fields.password.value }}" 
            {% if form.errors['password'] %} has-error {% endif %}
            error-message="{{ form.fields.password.validation.rules.presence.message }}"
            placeholder="Password">
          </ins-input>
        </div>
        
          
        <div class="column-1">      
          <div class="spacer small"></div>
          <div class="grid-x">
            <div class="cell large-6 medium-6 small-12"> <a href="/"><ins-button type="button" id="cancel-button" label="CANCEL" outlined ></ins-button></a></div>
            <div class="cell show-for-small-only spacer"></div>
            <div class="cell large-6 medium-6 small-12 text-right"><ins-button type="submit" id="submit-personal-details" class="submit-btn" label="Register" icon-right="icon-arrow-forward" solid ></ins-button></div>
          </div>  
        </div>

    {% endif %}


</div>    